@page "/admin"

<PageTitle>Phone Directory Admin Portal</PageTitle>

@using PhoneDirectory.Data

<AuthorizeView>
    <Authorized>
        <h1>Admin portal under construction</h1>
    </Authorized>
    <NotAuthorized>Sorry, you must be an administrator to view this page!</NotAuthorized>
</AuthorizeView>

@code{}
