@page "/departments"
@using PhoneDirectory.Library
@using PhoneDirectory.Library.Models
@inject DirectoryData data
@inject NavigationManager nav


<PageTitle>Phone Directory Department Listings</PageTitle>

<div>
    <ul>
    @foreach (var d in departments)
    {
        <li>
            @d.Name
        </li>
    }
    </ul>
</div>
<div>
    <ul>

    </ul>
</div>


@code {
    private List<DepartmentModel> departments = new();

    protected override async Task OnInitializedAsync()
    {
        departments = await data.GetAllDepartmentsAsync();
    }
}
