@page "/EmailConfirmationRedirect"
@inject NavigationManager navManager

<html>
  <head>
    <PageTitle>Email Not Supported</PageTitle>
    <link rel="stylesheet" href="/css/site.css"/>
  </head>
  <body>
    <p>Please contact support for account issues</p>
    <br />
    <br />
    <button class="return-button" @onclick="ReturnHome">Return to Directory</button>
  </body>
</html>


@code {
  private void ReturnHome()
  {
    navManager.NavigateTo("/");
  }
}
