@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  padding-top: 40px;
}

h2 {
  margin-bottom: 30px;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.see-all-button {
  display: block;
  margin-bottom: 4px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: white;
}

.see-all-button:hover {
  background-color: rgb(235, 235, 235);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
  font-size: 125%;
  transition: background-color .25s, 
    color .25s, 
    box-shadow .25s, 
    font-size .25s;
}

.see-all-button:active {
  color: white;
  background-color: rgb(90, 90, 90);
  box-shadow: 5px 5px 10px rgb(60, 60, 60);
}

.see-all-button:not(:hover) {
  transition: background-color .25s, 
    color .25s, 
    box-shadow .25s, 
    font-size .25s;
}

.department-buttons {
  display: block;
  margin-top: 2px;
  margin-bottom: 3px;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  background-color: white;
}

.department-buttons:hover {
  background-color: rgb(235, 235, 235);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
  font-size: 125%;
  transition: background-color .25s, 
    color .25s, 
    box-shadow .25s, 
    font-size .25s;
}

.department-buttons:not(:hover) {
  transition: background-color .2s, 
    color .2s, 
    box-shadow .2s, 
    font-size .2s;
}

.department-buttons:active {
  color: white;
  background-color: rgb(90, 90, 90);
  box-shadow: 5px 5px 10px rgb(60, 60, 60);
}

.main-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  margin-top: 20px;
}

.add-new-button{
  background-color: forestgreen;
  border: none;
  margin-bottom: 8px;
  border-radius: 4px;
}

.add-new-button:active {
  color: white;
  background-color: rgb(90, 90, 90);
  box-shadow: 5px 5px 10px rgb(60, 60, 60);
}

.add-new-button:hover {
  font-size: 125%;
  background-color: white;
  color: forestgreen;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
  transition: background-color .25s, 
    color .25s, 
    box-shadow .25s, 
    font-size .25s;
}

.add-new-button:not(:hover) {
  transition: background-color .25s, 
    color .25s, 
    box-shadow .25s, 
    font-size .25s;
}

.records {
  cursor: pointer;
  margin-bottom: 10px;
  width: fit-content;
}

.record-text:hover {
  color: red;
}

.search-container{
  display: flex;
  justify-content: space-between;
}

.search-box {
  border: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .2) 1px 1px 2px inset;
  max-height: 30px;
}

.search-box::placeholder {
  padding-left: 6px;
}

.return-button {
  display: block;
  margin-bottom: 35px;
  margin-right: 50px;
  border-style: solid;
  border-color: gray;
  border-width: .1px;
  font-size: 12px;
  border-radius: 4px;
  background-color: white;
}

.return-button:hover {
  border: none;
  background-color: rgb(235, 235, 235);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
  transition: background-color .25s, color .25s, box-shadow .25s, border .25s;
}

.return-button:not(:hover) {
  transition: background-color .25s, color .25s, box-shadow .25s, border .25s;
}

.return-button:active {
  background-color: rgb(90, 90, 90);
  color: white;
}
