@inherits LayoutComponentBase

<PageTitle>Phone Directory</PageTitle>

<div class="page">
    <main>
      <div class="main-div">
        <h1 class="main-h1">Phone Directory</h1>
        <div>
            <LoginDisplay />
        </div>
      </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
